asgiref==3.10.0
channels==4.3.1
channels_redis==4.3.0
daphne==4.1.2
Django==5.2.7
djangorestframework==3.16.1
gunicorn==23.0.0
uvicorn==0.32.1
msgpack==1.1.1
psycopg2-binary==2.9.10
python-dotenv==1.0.0
redis==6.4.0
sqlparse==0.5.3
